body {
    background-color: black;
    background-image: url(file:///C:/Users/is101/Desktop/earth-1756274_960_720.webp);
    background-position: center, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: snow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header h1{
    margin-top: 50px;
    font-size: 50px;
    background: -webkit-linear-gradient(10deg, #065ef6, #bc65dc 25%, #eb5234);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation: textAnime 10s infinite;
}

@keyframes textAnime{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

form{
 
    margin: 40px;
    
}

input, select{

    margin-top: 50px;
    border: none;
    background-color: rgba(249, 251, 253, 0.1);
    /* opacity: 0.3; */
    color: snow;

}

/* タイトル入力欄 */
#createTitle {
    
    padding: 8px;
    padding-left: auto;
    padding-right: 100px;
    margin-top: auto;

}

button{

    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

}
/* 計算ボタン */
#calc{

    background-color: rgba(10, 193, 253, 0.5);

}
/* 登録ボタン */
#create{

    background-color: rgba(0, 255, 255, 0.5);
   
}

/* 停止ボタン */
#clearTime{
    color: rgb(245, 87, 87);
    background-color: rgba(150, 148, 148, 0.2);
}

/* 時間経過表示欄 */
#timer{
 
    color: rgb(36, 238, 252);
    margin-top: 20%;
    font-size: xx-large;
    text-size-adjust: 100%;
}

#calendar,#hours,#min{
    margin-top: 25px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

/* 時間経過の表示方法選択プルダウン */
#displayTime{

    margin-top: 15%;
    margin-bottom: auto;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

/* titleを表示させるプルダウン */
#titleName{

    margin-bottom: auto;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    
}
